<!-- <div>


    <mat-tab-group mat-align-tabs="center" [selectedIndex]="tabIndex" (selectedTabChange)="onTabChanged($event)">
        
        <mat-tab label="Home" >
            <ng-template mat-tab-label>

                Home
            </ng-template>
        </mat-tab>
        <mat-tab label="Registration" >
            <ng-template mat-tab-label>

                Registration
            </ng-template>
        </mat-tab>
        <mat-tab label="Investigation" >
            <ng-template mat-tab-label>

                Investigation
            </ng-template>
        </mat-tab>
        <mat-tab label="logout">
            <ng-template mat-tab-label>

                Logout
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div> -->


<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toogleSideBar">
            <mat-icon>menu</mat-icon>
        </button>

        <span>CCTNS</span>
        <span class="example-spacer"></span>
        <div fxflex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fexLayoutGap="20px">
                <li>
                    <button mat-button>
                        <mat-icon>settings</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-button>
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>person_outline</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>exit_to_app</mat-icon>Sign Out
                        </button>
                    </mat-menu>
                </li>
            </ul>

        </div>
    </mat-toolbar-row>

</mat-toolbar>

<!--<mat-toolbar color="primary" id="fixed-header">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar> -->