<div class="homeContent">
    <mat-card>
      <mat-card-subtitle>CCTNS</mat-card-subtitle>
      <mat-card-title>Crime and Criminal Network Tracking System</mat-card-title>
      <mat-card-content>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores eligendi quae quod molestias
        amet hic sunt repellendus. Asperiores numquam iste impedit voluptatibus, inventore assumenda ratione accusantium
        deserunt, unde excepturi sapiente?
        Laborum architecto quidem magni sequi iste. Nemo fugit voluptatibus iste necessitatibus debitis tempore vel
        ducimus obcaecati ipsa voluptates, dicta architecto, nostrum illo quidem illum labore deserunt esse magnam
        facere ipsum?
        Exercitationem hic ut libero molestiae ex praesentium dolore a eius, facere magni quis deserunt nihil omnis
        aliquid quam fuga numquam eos nobis expedita est inventore non tenetur quas ea? Odio!
        Cupiditate neque repellat dolorem, ad quod, unde minus excepturi deleniti quaerat molestias, facilis eaque!
        Minima eius, modi facilis voluptatibus repudiandae, impedit sapiente nihil sunt libero mollitia magnam numquam
        tempore reiciendis.
        Molestias quaerat non velit animi. Ex autem voluptatem ad quam dolorum nemo quasi laborum assumenda impedit id
        nihil accusamus, maxime tenetur enim! Minus alias ducimus obcaecati odio fuga corporis dolore.

      </mat-card-content>
    </mat-card>
   

  </div>
